.shop {
  position: relative;
  margin-right: 20px;
  background: #fff;
  width: 100%;
  height: 100vh;
}
.shop::before {
  content: "";
  z-index: 1;
  margin: 0 17% 4% 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f1efef;
}
.shop__inner {
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.shop__nav {
  margin: 60px 37px 0 0;
  width: 200px;
}
.shop__nav-list {
  background: #c4c4c4;
  padding: 25px 25px;
}
.shop__nav-link {
  display: block;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 18px;
  color: #000;
}
.shop__nav-link--active {
  display: block;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 18px;
  color: #000;
  color: #d31c1c;
}
.shop__content {
  margin: 30px 0;
}
.shop__image-box {
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.shop__image-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.shop__brands {
  display: flex;
  flex-wrap: wrap;
}
.shop__brands-link {
  background: #c4c4c4;
  padding: 3px 14px;
  font-weight: 400;
  font-size: 24px;
  color: #000;
  transition: all 0.3s;
}
.shop__brands-link--active {
  background: #c4c4c4;
  padding: 3px 14px;
  font-weight: 400;
  font-size: 24px;
  color: #000;
  color: #d31c1c;
}
.shop__devices {
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 80px;
}
.shop__devices-link {
  display: block;
  transition: all 0.3s;
}
.shop__devices-link:hover {
  box-shadow: 0 0 30px 5px rgba(181, 175, 175, 0.867);
}
.shop__devices-content {
  margin: 5px;
}
.shop__devices-brand {
  display: flex;
  justify-content: space-between;
}
.shop__devices-title {
  font-weight: 400;
  font-size: 14px;
  color: #817d7d;
  margin-bottom: 3px;
}
.shop__devices-rate {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
.shop__devices-rate span {
  margin-left: 2px;
  width: 14px;
  height: 13px;
  display: inline-block;
  background: url("../../../assets/img/star.svg") 0 0 / cover no-repeat;
}
.shop__devices-widget {
  position: absolute;
  top: 17px;
  left: -30px;
  width: 90px;
  height: 20px;
  border-radius: 5px;
  background-color: #fff;
}
.shop__devices-name {
  margin-bottom: 5px;
}
.shop__devices-basket {
  border-radius: 5px;
  border: 1px solid #817d7d;
  cursor: pointer;
  width: 100%;
  padding: 5px;
  transition: all 0.3s;
  margin-bottom: 5px;
}
.shop__devices-basket:hover {
  background: #817d7d;
  color: #fff;
}
.pages__list {
  margin-top: 50px;
  grid-column-start: 2;
  display: flex;
  align-items: center;
  justify-content: none;
  flex-direction: none;
}
.pages__list-item {
  border: 1px solid #817d7d;
  border-right: none;
  padding: 5px;
  cursor: pointer;
  font-size: 1.4em;
  color: #1515dd;
  transition: all 0.3s;
}
.pages__list-item:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.pages__list-item:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right: 1px solid #817d7d;
}
.pages__list-item:hover {
  background: #817d7d;
  color: #f1e6e6;
}
.pages__list-item--active {
  padding: 5px;
  font-size: 1.4em;
  border: 1px solid #1313e3;
  background: #1313e3;
  color: #f1e6e6;
}
.pages__list-item--active:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.pages__list-item--active:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right: 1px solid #817d7d;
}
.rating {
  text-align: center;
}
.rating__star {
  width: 17px;
  height: 17px;
  background: url("../../../assets/img/star__black.svg") 0 0 / cover no-repeat;
}
.rating__star-outline {
  background: url("../../../assets/img/star.svg") 0 0 / cover no-repeat;
}
